@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  background-color:rgba(0, 0, 0, 0.1);  
  background-image: url('./images/background_gif.gif');
  color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
